/* components/DigitalAtriumHomePage.module.css */
.atriumPageContainer {
  position: relative;
  width: 100%;
  padding-top: var(--nav-height-scrolled);
}

.vanguardSection {
  margin-bottom: 5rem;
}

.atriumMainContent {
  padding-bottom: 8rem;
}

.atriumGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}
@media (min-width:1024px) {
  .atriumGrid {
    grid-template-columns: 2.5fr 1fr;
  }
}
.atriumMainColumn {
  min-width: 0;
}

.atriumSidebar {
  min-width: 0;
}