/* components/DigitalAtriumHomePage.module.css */
.atriumPageContainer {
  position: relative;
  width: 100%;
  padding-top: var(--nav-height-scrolled);
}

.vanguardSection {
  margin-bottom: 5rem;
}

.atriumMainContent {
  padding-bottom: 8rem;
}